/*---------- font-faces ----------*/
@font-face {
  font-family: "VisitDenmark-Bold";
  src: url("fonts/VisitDenmark-Bold.otf");
}
@font-face {
  font-family: "VisitDenmark-ExtraBold";
  src: url("fonts/VisitDenmark-ExtraBold.otf");
}
@font-face {
  font-family: "VisitDenmark-Medium";
  src: url("fonts/VisitDenmark-Medium.otf");
}
@font-face {
  font-family: "VisitDenmark-Outline-Medium";
  src: url("fonts/VisitDenmark-Outline-Medium.otf");
}
@font-face {
  font-family: "VisitDenmark-Outline-Regular";
  src: url("fonts/VisitDenmark-Outline-Regular.otf");
}
@font-face {
  font-family: "VisitDenmark-Regular";
  src: url("fonts/VisitDenmark-Regular.otf");
}
@font-face {
  font-family: "VisitDenmark-SemiBold";
  src: url("fonts/VisitDenmark-SemiBold.otf");
}

/* ---------- global variables ----------*/

/*----- Primary color palette -----*/
$corporate-red: rgb(231, 0, 19);
$corporate-blue: rgb(2, 43, 82);
$black: rgb(0, 0, 0);
$visitdenmark-grey-01: rgb(162, 169, 173);
$visitdenmark-grey-02: rgb(207, 210, 211);
$visitdenmark-grey-03: rgb(88, 88, 88);
$white: rgb(255, 255, 255);

/*----- Secondary color palette -----*/
$dark-blue: rgb(0, 88, 122);
$dark-green: rgb(0, 117, 84);
$dark-yellow: rgb(219, 162, 0);
$light-blue: rgb(195, 235, 255);
$light-green: rgb(163, 234, 191);
$light-yellow: rgb(255, 232, 130);
$burgundy: rgb(154, 0, 53);
$pink: rgb(250, 197, 204);

/*----- General styling -----*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "VisitDenmark-Regular";
  color: $white;
}

main {
  min-height: calc(100vh - 60px);
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-size: 0.8rem;
  font-family: "VisitDenmark-Regular";
  color: $white;
}

.page {
  margin: 60px 0 50px 0;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: $white;
  height: 55px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nav-link {
  margin: 0 5px;
}

.active > svg > path {
  fill: $corporate-red;
  margin: 0;
}

/*----- Home/Landing page -----*/
#home {
  height: 100vh;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
.logo-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 350px;
  transition: all linear 1s;
  transition-delay: 1s;
}

.city-link {
  margin: 0;
  position: absolute;
  left: -400px;
  width: 90vw;
  height: 150px;
}

.city-card {
  width: 90vw;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  border: 2px solid $white;
  height: 130px;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.city-section-title {
  color: $black;
  font-family: "VisitDenmark-Bold";
  position: absolute;
  left: -400px;
  font-size: 2em;
}

.city-title {
  color: $white;
  margin: 0 0 5px 0;
  font-size: 2.3em;
  font-family: "VisitDenmark-Bold";
}

.city-card-section :nth-child(1) {
  top: 60px;
  transition: all 1s;
  transition-delay: 2.5s;
}
.city-card-section :nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1610357310685-105e8a575744?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1935&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 100px;
  transition: all 1s;
  transition-delay: 2.5s;
}
.city-card-section :nth-child(3) {
  background-image: url("https://api.colourbox.com/publicmedia302/1600px/49035055/media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 270px;
  transition: all 1s;
  transition-delay: 3.5s;
}
.city-card-section :nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1584699411820-47302a6c00c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  top: 440px;
  transition: all 1s;
  transition-delay: 4.5s;
}
.city-card-section :nth-child(5) {
  background-image: url("https://api.colourbox.com/publicmedia302/1600px/44496224/media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 610px;
  transition: all 1s;
  transition-delay: 5.5s;
}

/*---------------------------------------------------------------*/

/*-- Header --*/
header {
  background-color: $white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  width: 200px;
}
/*----- Explore -----*/
.explore-hero {
  background-image: url("https://api.colourbox.com/publicmedia302/1600px/44496224/media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-hero > .frame {
  height: 280px;
  width: 95vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.explore-title {
  margin: 0 0 0 8px;
  font-family: "VisitDenmark-Bold";
  font-size: 2.5em;
}

.explore-city {
  margin: 0 0 0 8px;
  font-family: "VisitDenmark-Outline-Regular";
  font-size: 4em;
}

.explore > p {
  padding: 1rem;
  color: $corporate-blue;
  font-size: 0.9rem;
}

.attractions-title {
  color: $black;
  font-family: "VisitDenmark-Bold";
  color: $visitdenmark-grey-03;
  font-size: 2rem;
  padding: 0 0 1rem 1rem;
}
.museums-title,
.activities-title,
.eat-title {
  font-family: "VisitDenmark-Bold";
  font-size: 1.5em;
  color: $corporate-blue;
  padding: 0 0 1rem 0;
}

.attractions {
  padding: 0 1rem 0 1rem;
}

.museums,
.activities,
.eat {
  display: flex;
  overflow-y: hidden;
}
.attraction {
  display: flex;
  margin: 0 0.5rem 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.attraction-title {
  font-family: "VisitDenmark-Bold";
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0 1rem 0 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/*----- Detail View -----*/
.attraction-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attraction-hero > .frame {
  height: 280px;
  width: 95vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.description-title {
  color: $visitdenmark-grey-03;
  font-size: 1.4rem;
  font-family: "VisitDenmark-ExtraBold";
}

.attraction-description {
  margin: 0 1rem;
  color: $black;
  height: 190px;
  overflow: hidden;
  transition: all 0.5s;
}

.open {
  overflow: visible;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.detail-button {
  margin: 0 0 1rem 0;
  height: 40px;
  padding: 5px;
  width: 170px;
  text-align: left;
  text-transform: uppercase;
}

.see-more-btn {
  background-color: $corporate-red;
}
.others-say-btn {
  background-color: $corporate-blue;
}
.direction-title {
  color: $visitdenmark-grey-03;
  font-family: "VisitDenmark-Bold";
  font-size: 1.4rem;
  margin: 1rem 0 0 1rem;
}
.geotag {
  color: $corporate-red;
  padding: 0 5px 0 0;
}
.address {
  color: $black;
}
.address-wrapper {
  margin: 0 1rem 1rem 1rem;
  display: flex;
}
#map {
  height: 280px;
  margin: 0 1rem 1rem 1rem;
}
.mapboxgl-marker > svg > g :nth-child(2) {
  fill: $corporate-red;
}
.left {
  position: absolute;
  left: 1rem;
  top: 2px;
  font-size: 2.5rem;
  color: $corporate-blue;
}

/*----- Search -----*/
.search-page-title {
  color: $visitdenmark-grey-03;
  font-family: "VisitDenmark-Bold";
  margin: 1rem 0 0 1rem;
}

.search-bar {
  font-family: "VisitDenmark-Regular";
  margin: 1rem;
  padding: 2px;
  width: 90vw;
  height: 40px;
  font-size: 1.2rem;
}

.search-results {
  width: 90vw;
  margin: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-results article {
  height: 160px;
  width: 150px;
  margin: 0 0 1rem 0;
}

/*----- Plan -----*/
h4 {
  font-family: "VisitDenmark-Bold";
  text-transform: uppercase;
  color: $visitdenmark-grey-03;
  font-size: 1.2rem;
  margin: 0 5px;
}
.plan-page-title {
  color: $visitdenmark-grey-03;
  font-family: "VisitDenmark-Bold";
  margin: 1rem 0 0 1rem;
  font-size: 2rem;
}
.secondary_icon {
  width: 25px;
  margin: 0 5px;
}
.icon_flex {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}
.flex_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lists {
  height: 50vh;
}

.my-favorites {
  width: 90vw;
  margin: 1rem 1rem 0 1rem;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.favorite {
  height: 160px;
  width: 160px;
  margin: 0 0 0.5rem 0;
}
/* ----- Modal ----*/

#myBtn {
  background: none;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #022b52;
  margin: auto;
  padding: 20px;
  border: none;
  width: 80%;
  height: 180px;
}

#modal-title {
  text-align: center;
  margin: 15px 0 0 0;
}

#list {
  height: 40px;
  padding: 5px;
  width: 100%;
}

#title-list {
  font-size: 12px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#createBtn {
  background-color: $corporate-red;
  height: 40px;
  padding: 5px;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  float: right;
  margin: 10px 0 0 0;
}

/* ---------- loader styling ---------- */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: rgba($color: $visitdenmark-grey-02, $alpha: 0.5);
  text-align: center;
}

.spinner {
  border: 5px solid $corporate-red;
  border-radius: 50%;
  border-top: 5px solid $corporate-blue;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}
