/*---------- font-faces ----------*/
@font-face {
  font-family: "VisitDenmark-Bold";
  src: url("fonts/VisitDenmark-Bold.otf");
}

@font-face {
  font-family: "VisitDenmark-ExtraBold";
  src: url("fonts/VisitDenmark-ExtraBold.otf");
}

@font-face {
  font-family: "VisitDenmark-Medium";
  src: url("fonts/VisitDenmark-Medium.otf");
}

@font-face {
  font-family: "VisitDenmark-Outline-Medium";
  src: url("fonts/VisitDenmark-Outline-Medium.otf");
}

@font-face {
  font-family: "VisitDenmark-Outline-Regular";
  src: url("fonts/VisitDenmark-Outline-Regular.otf");
}

@font-face {
  font-family: "VisitDenmark-Regular";
  src: url("fonts/VisitDenmark-Regular.otf");
}

@font-face {
  font-family: "VisitDenmark-SemiBold";
  src: url("fonts/VisitDenmark-SemiBold.otf");
}

/* ---------- global variables ----------*/
/*----- Primary color palette -----*/
/*----- Secondary color palette -----*/
/*----- General styling -----*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "VisitDenmark-Regular";
  color: white;
}

a {
  text-decoration: none;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: #022b52;
  height: 55px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nav-link {
  margin: 0 5px;
}

.active {
  margin: 0;
}

/*----- Home/Landing page -----*/
.logo-load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 350px;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.city-link {
  margin: 0;
  position: absolute;
  left: -400px;
  width: 90vw;
  height: 150px;
}

.city-card {
  width: 90vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame {
  border: 2px solid white;
  height: 130px;
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.city-section-title {
  font-family: "VisitDenmark-Bold";
  position: absolute;
  left: -400px;
  font-size: 2em;
}

.city-title {
  color: white;
  margin: 0 0 5px 0;
  font-size: 2.3em;
  font-family: "VisitDenmark-Bold";
}

.city-card-section :nth-child(1) {
  top: 70px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

.city-card-section :nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1610357310685-105e8a575744?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1935&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 110px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

.city-card-section :nth-child(3) {
  background-image: url("https://api.colourbox.com/publicmedia302/1600px/49035055/media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 280px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s;
}

.city-card-section :nth-child(4) {
  background-image: url("https://uc3a0ceea8d6a2c9ee5f02ab767a.previews.dropboxusercontent.com/p/thumb/ABVKVxX0Rvs0pl3bxMKMPOyqgkIqyOiuJ-jrH9Ca1OiZK6t1WXHvGSR4evEPOvJuTCXc6jcsOdxxym7cI1qU9Pj64xGQPugMRM0galgaDzg7kXnIk-1daBbn7Jjh7uM8B303OOBk-a4NhsUYrZ35-BaG6M5sXXBOokLUfgsskUjJp53cTLoKEJKsvvhJxzDzH1gWV1h7CvPHYkrrkwQzT3VGUD-6maETzjmuSFX6xnGp9J4_Hk2TTNPuE-B6IJA-zZ-8i3qJV7zJu_mSg_q07V88YJD4WV4lB5XfrTjgsSB-dmjBhEIhKnxZvN6GRh94v-xUw_lOOAILh4dVrGZCZRZwcPDeoI2Iw4K9pwzjvZCJcMv2B5Hsm5TkdaX8h_eZ8O65C9h8UceztZcSYJUDJcUNOgU0k00EVgUdM2607V2giQzSE8bJuwMjbGpAAhDICzRBv32yQ_DcDU6ufu_AhRJruusOEHsNnoCTL1eoDtKkMw/p.jpeg?fv_content=true&size_mode=5");
  background-size: cover;
  top: 450px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}

.city-card-section :nth-child(5) {
  background-image: url("https://api.colourbox.com/publicmedia302/1600px/44496224/media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 620px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 5.5s;
          transition-delay: 5.5s;
}

/*---------------------------------------------------------------*/
/*-- Header --*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo {
  width: 200px;
}

/*-- Explore --*/
.explore-hero {
  background-image: url("https://api.colourbox.com/publicmedia302/1600px/44496224/media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore-hero > .frame {
  height: 280px;
  width: 95vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.explore-title {
  margin: 0 0 0 8px;
  font-family: "VisitDenmark-Bold";
  font-size: 2.5em;
}

.explore-city {
  margin: 0 0 0 8px;
  font-family: "VisitDenmark-Outline-Regular";
  font-size: 4em;
}

.explore > p {
  padding: 1rem;
  color: #022b52;
}

.attractions-title {
  color: black;
  font-family: "VisitDenmark-Bold";
  padding-left: 1rem;
}

.attractions {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 0 1rem;
  overflow-y: hidden;
  white-space: nowrap;
}

.attraction {
  background-color: #022b52;
  height: 120px;
  margin: 0 0.5rem 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.attraction-title {
  font-size: 1.2em;
  margin: 0 1rem 0 1rem;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}
/*# sourceMappingURL=style.css.map */